.env
__pycache__/
*.pyc
.venv/
venv/
*.egg-info/
.pytest_cache/
.DS_Store
pg-data/
kafka-data/
zk-data/

# terraform
deploy/aws/.terraform/
deploy/aws/*.tfstate
deploy/aws/*.tfstate.*
deploy/aws/*.tfvars
